<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/transfer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Transfer</a
      >
    </li>
    <div class="spacer"></div>
    <p>Hamad</p>
    <img src="../../assets/icons/user-2.svg" alt="account icon" />
  </ul>
</nav>
<router-outlet></router-outlet>
