:root {
  --field-width: 20rem;
  --field-padding-x: 1rem;
  --field-padding-y: 1.25rem;
  --button-padding-x: 1.5rem;
  --button-padding-y: 0.75rem;
  --border-radius: 0.5rem;

  --theme-yellow: hsl(50, 97%, 74%);
  --theme-yellow-hover: hsl(50, 97%, 69%);
  --theme-yellow-active: hsl(50, 97%, 64%);
  --theme-blue: hsl(172, 73%, 47%);
  --theme-blue-hover: hsl(172, 73%, 42%);
  --theme-blue-active: hsl(172, 73%, 37%);
  --theme-purple: #4f0d5a;
  --theme-black: #2a2a2a;
  --theme-black-light: hsl(0, 0%, 26%);
  --theme-red: hsl(354, 61%, 28%);
  --theme-red-light: hsl(355, 70%, 91%);

  --button-default: var(--theme-yellow);
  --button-hover: var(--theme-yellow-hover);
  --button-active: var(--theme-yellow-active);

  --link-hover: var(--theme-blue-hover);
  --link-active: var(--theme-blue-active);
}
* {
  font-family: "Crimson Pro", serif;
}
html,
body {
  height: 100%;
  background-color: var(--theme-black);
  color: white;
}
body {
  margin: 0;
}

button {
  background-color: var(--button-default);
  color: var(--theme-black);
  font-weight: bold;
  text-transform: capitalize;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--button-padding-y) var(--button-padding-x);
}
button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

button:active {
  background-color: var(--button-active);
}
