<div *ngIf="bankAccount" class="main-container">
  <div class="balance container my-border">
    <p>Balance:</p>
    <div class="spacer"></div>
    <p>{{ bankAccount.balance }} KD</p>
  </div>
  <div class="deposit container my-border">
    <p>Deposit:</p>
    <input type="number" placeholder="Amount" />
    <div class="spacer"></div>
    <button>Deposit</button>
  </div>
  <div class="withdraw container my-border">
    <p>Withdraw:</p>
    <input type="number" placeholder="Amount" />
    <div class="spacer"></div>
    <button>Withdraw</button>
  </div>
</div>
<div *ngIf="!bankAccount" class="main-container">
  <button (click)="createBankAccount()">create new account</button>
</div>
